@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
  background: linear-gradient(135deg, #e6eefa 20%, #f4f8ff 40%, #a3e3f6 60%);
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Brinnan Black';
  src: url('/fonts/BrinnanBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}